/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/storage/clockwork
/storage/logs/
/storage/framework/sessions/
/_docker/nginx/logs/
/_docker/php-fpm/www.conf
/vendor
package-lock.json
.env
envprod.txt
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/_docker/nginx/conf.d/nginx.conf
/_docker/supervisor/logs
package-lock.json
/_docker/nginx/nginx.conf
/storage/api-docs/api-docs.json
public/fonts/vendor/
courses.txt
